{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
% {overrides,
%  [{override, eleveldb,
%    [
%      {artifacts, ["priv/eleveldb.so"]},
%      {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
%                   {compile, "c_src/build_deps.sh"}]},

%      {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

%      {plugins, [pc]},

%      {provider_hooks, [{post,
%                          [{compile, {pc, compile}},
%                           {clean, {pc, clean}}
%                          ]
%                        }]
%      }
%    ]
%   }
%  ]}.
{deps, [
        {hashids, ".*",  {git, "https://github.com/snaiper80/hashids-erlang.git",  {tag, "1.0.4"}}},
        {lager, "1.2.1", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
        {edown, "0.3.*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
        {leveled, ".", {git, "https://github.com/martinsumner/leveled.git", {tag, "v0.9.0"}}}
        % {eleveldb, ".", {git, "https://github.com/basho/eleveldb.git", {branch, "develop"}}}
       ]
}.
